:root {
	--main-bg-col: #f2f2f2;
	--accent-bg-col: #fafafa;

	--day-width: 150px;
	--day-border-width: 2px;
}


html {
	font-size: 20pt;
	font-family: Helvetica;
}

#main {
	width: 100%;
	margin: auto;
}

#calendar {
	border-collapse: collapse;
	width: 100%;
}

table, th, td {
	font-size: 13pt;
	border-width: 2px;
	border-style: solid;
}


td {
	width: var(--day-width);
	height: var(--day-width);
	text-align: left top;
	vertical-align: top;
}

td ul {
	margin: 0px;
}
td li {
	margin: 0px;
}

a {
	color: purple;
}
b {
	font-size: 15pt;
}

.cal-interested {
	display: block;
	height: 40px;
	width: 100%;
	float: bottom;
	background-color: green;
	list-style-type: none;

	padding: 0px;
	margin: 0px;
}
.cal-interested li {
	list-style-type: none;
	display: inline-block;
	margin: 0px;
	padding: 0px;
}

.overlay {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	visibility: hidden;
	background: rgba(0,0,0, 0.7);
	transition: opacity 200ms;
	opacity: 0;
}

.overlay:target {
	visibility: visible;
	opacity: 1;
}

.popup {
	margin: 70px auto;
	padding: 20px;
	background: #fff;
	border-radius: 5px;
	width: 30%;
	position: relative;
}


@media (max-width: 1200px) {
	:root {
		--day-width: 120px;
	}
	td {
		font-size: 12pt;
	}
}
@media (max-width: 950px) {
	:root {
		--day-width: 90px;
	}
	td {
		font-size: 10pt;
	}
}
